@model IEnumerable<ProyectoFinalSoft.Models.PeriodoAcademico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.periodoFechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.periodoFechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.periodoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.periodoEstado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.periodoFechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.periodoFechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.periodoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.periodoEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.periodoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.periodoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.periodoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
