@model ProyectoFinalSoft.Models.Horario

@{
    ViewData["Title"] = "Eliminar Franja Horaria";
    int horarioHoraInicioInt = Model.horarioHoraInicio.Hours;
    String horarioHoraInicioString = horarioHoraInicioInt.ToString();
}

<div class="container mt-5 text-center">
    <h3 class="text-center mb-6">
        ¿Esta seguro que desea eliminar la franja horaria?
    </h3>
    <hr />
    <div class="mb-6 d-flex justify-content-center">
        <dl class="row col-6">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.horarioDia)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.horarioDia)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.horarioHoraInicio)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.horarioHoraInicio)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.horarioHoraFin)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.horarioHoraFin)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.horarioDuracion)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.horarioDuracion)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ambiente)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.ambiente.ambienteCodigo)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.docente)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.docente.docenteApellido)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.periodoAcademico)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.periodoAcademico.periodoNombre)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.competencia)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.competencia.competenciaId)
            </dd>
        </dl>
    </div>
    <div class="row mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="horarioId" />
            <a asp-action="List" asp-route-dia="@Model.horarioDia" asp-route-hora="@horarioHoraInicioString" class="col-md-4 btn btn-secondary me-2" style="height: 38px; width: 200px">Cancelar</a>
            <input type="submit" value="Delete" class="col-md-4 btn btn-danger" style="height: 38px; width: 200px"/>
        </form>
    </div>
    
</div>