@model IEnumerable<ProyectoFinalSoft.Models.Competencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.competenciaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.competenciaTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.competenciaEstado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.competenciaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.competenciaTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.competenciaEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.competenciaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.competenciaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.competenciaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
