@model ProyectoFinalSoft.Models.Docente

@{
    ViewData["Title"] = "Desactivar Docente";
}
<div class="container mt-5 text-center mb-6">
    @if(Model.docenteEstado ==1)
    {
        <h1 class="text-center mb-6">Desactivar</h1>
        <h3 class="text-center mb-6">¿Esta seguro que desea desactivar a este Docente?</h3>
    } else{
        <h1 class="text-center mb-6">Activar</h1>
        <h3 class="text-center mb-6">¿Esta seguro que desea Activar a este Docente?</h3>
    }

    <hr />
    <div class="container-fluid">
        <dl class="row mb-3">
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.docenteNombre)
            </dt>
            <dd class = "col-sm-5">
                @Html.DisplayFor(model => model.docenteNombre)
                @Html.DisplayFor(model => model.docenteApellido)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.docenteTipoId)
            </dt>
            <dd class = "col-sm-5">
                @Html.DisplayFor(model => model.docenteTipoId)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.docenteNumId)
            </dt>
            <dd class = "col-sm-5">
                @Html.DisplayFor(model => model.docenteNumId)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.docenteTipo)
            </dt>
            <dd class = "col-sm-5">
                @Html.DisplayFor(model => model.docenteTipo)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.docenteTipoContrato)
            </dt>
            <dd class = "col-sm-5">
                @Html.DisplayFor(model => model.docenteTipoContrato)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.docenteArea)
            </dt>
            <dd class = "col-sm-5">
                @Html.DisplayFor(model => model.docenteArea)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="docenteId" />
        <a asp-action="Index" class="col-md-4 btn btn-secondary me-5">Cancelar</a>
        @if (Model.docenteEstado == 1)
        {
            <input type="submit" value="Desactivar" class="col-md-4 btn btn-danger" />
        }
        else
        {
            <input type="submit" value="Activar" class="col-md-4 btn btn-success" />
        }

    </form>
</div>
