@model ProyectoFinalSoft.Models.Docente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Docente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteTipoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteTipoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteNumId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteNumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteTipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteTipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.docenteEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.docenteEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.docenteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
