@model ProyectoFinalSoft.Models.Docente

@{
    ViewData["Title"] = "Información Detalla del Docente";
}

<div class="container mt-5 text-center mb-6">
    <h1>Información Detallada del Docente</h1>
    <hr />
    <dl class="row mb-3">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteNombre)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.docenteNombre)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteApellido)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.docenteApellido)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteTipoId)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.docenteTipoId)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteNumId)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.docenteNumId)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteTipo)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.docenteTipo)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteTipoContrato)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.docenteTipoContrato)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteArea)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.docenteArea)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.docenteEstado)
        </dt>
        <dd class = "col-sm-5">
            @if (Model.docenteEstado == 1)
            {
                <text>Activo</text>
            }
            else if (Model.docenteEstado == 0)
            {
                <text>Retirado</text>
            }
        </dd>
        <div class="row mb-3">
            <!--<a asp-action="Edit" asp-route-id="@Model?.docenteId">Edit</a>-->
            <a asp-action="Index" class="btn btn-secondary">Volver a la pagina principal</a>
        </div>
    </dl>
</div>

