@model IEnumerable<ProyectoFinalSoft.Models.Docente>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5">
    <h1 class="text-center mb-5">Gestion Docentes</h1>
    <div class="table table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.docenteNumId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.docenteTipoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.docenteNombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.docenteTipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.docenteTipoContrato)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.docenteArea)
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.docenteNumId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.docenteTipoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.docenteNombre) @Html.DisplayFor(modelItem => item.docenteApellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.docenteTipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.docenteTipoContrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.docenteArea)
                    </td>
                        <td class="d-flex justify-content-evenly">
                        <a class="btn btn-warning btn-sm mx-2" asp-action="Edit" asp-route-id="@item.docenteId">Editar</a>
                            <a class="btn btn-info btn-sm mx-2" asp-action="Details" asp-route-id="@item.docenteId">Detalles</a>
                            @if(item.docenteEstado == 0)
                            {
                                <a class="btn btn-success btn-sm mx-2" asp-action="Delete" asp-route-id="@item.docenteId">Activar</a>
                            }
                            else
                            {
                                <a class="btn btn-danger btn-sm mx-2" asp-action="Delete" asp-route-id="@item.docenteId">Desactivar</a>
                            }

                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary"  asp-action="Create">Crear Docente</a>
</div>

