@model ProyectoFinalSoft.Models.PeriodoAcademico

@{
    ViewData["Title"] = "Activar/Desactivar Periodos académicos";
}

<div class="container mt-5 text-center">
    <h1 class="text-center mb-6">@((Model.periodoEstado == 1) ? "Desactivar" : "Activar")</h1>
    <h3 class="text-center mb-6">
        ¿Está seguro que desea @(Model.periodoEstado == 1 ? "desactivar" : "activar")
        este Periodo académico?
    </h3>
    <hr />
    <div class="mb-6 d-flex justify-content-center">
        <dl class="row col-6">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.periodoFechaInicio)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.periodoFechaInicio)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.periodoFechaFin)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.periodoFechaFin)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.periodoNombre)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.periodoNombre)
            </dd>
        </dl>
    </div>
    <div class="row mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="periodoId" />
            <a asp-action="Index" class="col-md-4 btn btn-secondary me-5" style="height: 38px; width: 200px">Cancelar</a>
            <input type="submit" value="@(Model.periodoEstado == 1 ? "Desactivar" : "Activar")" class="col-md-4 btn
            @(Model.periodoEstado == 1 ? "btn-danger" : "btn-success")" style="height: 38px; width: 200px" />
        </form>
    <div/>
</div>
<br />
<br />


