@model ProyectoFinalSoft.Models.Ambiente

@{
    ViewData["Title"] = "Activar/Desactivar Ambientes de aprendizaje";
}

<div class="container mt-5 text-center">
    <h1 class="text-center mb-6">@((Model.ambienteEstado == 1) ? "Desactivar" : "Activar")</h1>
    <h3 class="text-center mb-6">
        ¿Está seguro que desea @(Model.ambienteEstado == 1 ? "desactivar" : "activar")
        este Ambiente?
    </h3>
    <hr />
    <div class="mb-6 d-flex justify-content-center">
        <dl class="row col-6">
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.ambienteCodigo)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.ambienteCodigo)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.ambienteNombre)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.ambienteNombre)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.ambienteUbicacion)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.ambienteUbicacion)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.ambienteTipo)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.ambienteTipo)
            </dd>
            <dt class = "col-sm-5">
                @Html.DisplayNameFor(model => model.ambienteCapacidad)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.ambienteCapacidad)
            </dd>
        </dl>
    </div>
    <div class="row mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ambienteId" />
            <a asp-action="Index" class="col-md-4 btn btn-secondary me-5" style="height: 38px; width: 200px">Cancelar</a>
            <input type="submit" value="@(Model.ambienteEstado == 1 ? "Desactivar" : "Activar")" class="col-md-4 btn
        @(Model.ambienteEstado == 1 ? "btn-danger" : "btn-success")" style="height: 38px; width: 200px" />
        </form>
    </div>
</div>
<br />
<br />