@model ProyectoFinalSoft.Models.Ambiente

@{
    ViewData["Title"] = "Detalles Ambiente de aprendizaje";
}

<h1>Detalles Ambiente de aprendizaje</h1>

<div>
    <h4>Ambiente de aprendizaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ambienteCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ambienteCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ambienteNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ambienteNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ambienteUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ambienteUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ambienteTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ambienteTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ambienteCapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ambienteCapacidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
